<div class="editor">
  <div class="top-bar d-flex w-100 px-1 px-md-5">
    <div class='d-flex toolbar m-1'>
      <button title="Preview" class='special-button toolbar-button m-0 preview-icon'>
        <span class="material-icons m-1">
          preview
        </span>
      </button>
      <button title="HTML Code" class='toolbar-button m-0  d-none d-lg-flex'>
        <span class="material-icons m-1">
          code
        </span>
      </button>
      <button title="" class='toolbar-button m-0  d-none d-md-flex'>
        <span class="material-icons">
          hearing
        </span>
      </button>
      <button title="" class='toolbar-button m-0'>
        <span class="material-icons m-1">
          developer_board
        </span>
      </button>
      <button title="" class='toolbar-button m-0'>
        <span class="material-icons m-1">
          download
        </span>
      </button>
      <button title="Reset" class='toolbar-button m-0 reset bg-danger'>
        <span class="material-icons m-1">
          restart_alt
        </span>
      </button>
    </div>
    <div class="d-flex toolbar m-1">
      <button title="" class='toolbar-button m-0'>
        <span class="material-icons m-1">
          language
        </span>
        <span class="material-icons d-none d-lg-flex">
          arrow_drop_down
        </span>
      </button>
      <button title="Editor Settings" class='toolbar-button m-0' [matMenuTriggerFor]="setting"
        aria-label="Editor Setting">
        <span class="material-icons">
          settings_suggest
        </span>
        <span class="material-icons">
          arrow_drop_down
        </span>
      </button>
      <mat-menu #setting="matMenu">
        <button mat-menu-item>
          <mat-icon>dialpad</mat-icon>
          <span>Redial</span>
        </button>
        <button mat-menu-item disabled>
          <mat-icon>voicemail</mat-icon>
          <span>Check voice mail</span>
        </button>
        <button mat-menu-item>
          <mat-icon>notifications_off</mat-icon>
          <span>Disable alerts</span>
        </button>
      </mat-menu>
      <button title="Publish" class='toolbar-button special-button p-2'>
        <span class="d-none d-lg-flex">
          PUBLISH</span>
        <span class="material-icons m-1">
          send
        </span>
      </button>
    </div>
  </div>
  <!-- <app-blog-post-data></app-blog-post-data> -->
  <div class='toolbar-menus d-flex px-1 px-md-5'>
    <div class="toolbar device d-none d-lg-flex p-0 m-1">
      <button title="Phone" class='toolbar-button m-0'>
        <span class="material-icons m-1">
          smartphone
        </span>
      </button>
      <button title="Tablet" class='toolbar-button m-0'>
        <span class="material-icons m-1">
          tablet_android
        </span>
      </button>
      <button title="" class='toolbar-button m-0'>
        <span class="material-icons m-1">
          desktop_windows
        </span>
      </button>
      <button title="" class='toolbar-button m-0'>
        <span class="material-icons m-1">
          tv
        </span>
      </button>
    </div>
    <div class="toolbar format d-flex p-0 m-1">
      <button title="" class='toolbar-button m-0'>
        <span class="material-icons m-1">
          border_outer
        </span>
      </button>
      <button title="" class='toolbar-button m-0'>
        <span class="material-icons m-1">
          border_left
        </span>
      </button>
      <button title="" class='toolbar-button m-0'>
        <span class="material-icons m-1">
          border_right
        </span>
      </button>
      <button title="" class='toolbar-button m-0'>
        <span class="material-icons m-1">
          border_top
        </span>
      </button>
      <button title="" class='toolbar-button m-0'>
        <span class="material-icons m-1">
          border_bottom
        </span>
      </button>
      <button title="" class='toolbar-button m-0'>
        <span class="material-icons m-1">
          border_color
        </span>
      </button>
      <button title="" class='toolbar-button m-0'>
        <span class="material-icons m-1">
          border_clear
        </span>
      </button>
      <button title="" class='toolbar-button m-0'>
        <span class="material-icons m-1">
          line_style
        </span>
      </button>
      <button title="" class='toolbar-button m-0'>
        <span class="material-icons m-1">
          line_weight
        </span>
      </button>
    </div>
    <div class="toolbar multimedia d-flex p-0 m-1">
      <button title="" class='toolbar-button m-0'>
        <span class="material-icons m-1">
          video_camera_back
        </span>
      </button>
      <button title="" class='toolbar-button m-0'>
        <span class="material-icons m-1">
          audiotrack
        </span>
      </button>
      <button title="" class='toolbar-button m-0'>
        <span class="material-icons m-1">
          add_location_alt
        </span>
      </button>
      <button title="" class='toolbar-button m-0'>
        <span class="material-icons m-1">
          insert_drive_file
        </span>
      </button>
      <button title="" class='toolbar-button m-0'>
        <span class="material-icons m-1">
          smart_display
        </span>
      </button>
      <button title="" class='toolbar-button m-0'>
        <span class="material-icons m-1">
          insert_chart
        </span>
      </button>
      <button title="" class='toolbar-button m-0'>
        <span class="material-icons m-1">
          qr_code_2
        </span>
      </button>
      <button title="" class='toolbar-button m-0'>
        <span class="material-icons m-1">
          insert_photo
        </span>
      </button>
    </div>
    <div class="toolbar position d-flex p-0 m-1">
      <button title="" class='toolbar-button m-0'>
        <span class="material-icons m-1">
          format_align_right
        </span>
      </button>
      <button title="" class='toolbar-button m-0'>
        <span class="material-icons m-1">
          format_align_left
        </span>
      </button>
      <button title="" class='toolbar-button m-0'>
        <span class="material-icons m-1">
          format_align_justify
        </span>
      </button>
      <button title="" class='toolbar-button m-0'>
        <span class="material-icons m-1">
          format_align_center
        </span>
      </button>
      <button title="" class='toolbar-button m-0'>
        <span class="material-icons m-1">
          align_vertical_center
        </span>
      </button>
      <button title="" class='toolbar-button m-0'>
        <span class="material-icons m-1">
          format_indent_increase
        </span>
      </button>
      <button title="" class='toolbar-button m-0'>
        <span class="material-icons m-1">
          format_indent_decrease
        </span>
      </button>
      <button title="" class='toolbar-button m-0'>
        <span class="material-icons m-1">
          format_line_spacing
        </span>
      </button>
      <button title="" class='toolbar-button m-0'>
        <span class="material-icons m-1">
          select_all
        </span>
      </button>
      <button title="" class='toolbar-button m-0'>
        <span class="material-icons m-1">
          pivot_table_chart
        </span>
      </button>
    </div>
    <div class="toolbar insert d-flex p-0 m-1">
      <button title="" class='toolbar-button m-0'>
        <span class="material-icons m-1">
          mode
        </span>
      </button>
      <button title="" class='toolbar-button m-0'>
        <span class="material-icons m-1">
          horizontal_rule
        </span>
      </button>
      <button title="" class='toolbar-button m-0'>
        <span class="material-icons m-1">
          insert_emoticon
        </span>
      </button>
      <button title="" class='toolbar-button m-0'>
        <span class="material-icons m-1">
          insert_link
        </span>
      </button>
      <button title="" class='toolbar-button m-0'>
        <span class="material-icons m-1">
          format_quote
        </span>
      </button>
      <button title="" class='toolbar-button m-0'>
        <span class="material-icons m-1">
          space_bar
        </span>
      </button>
      <button title="" class='toolbar-button m-0'>
        <span class="material-icons m-1">
          date_range
        </span>
      </button>
      <button title="" class='toolbar-button m-0'>
        <span class="material-icons m-1">
          more_time
        </span>
      </button>
      <button title="" class='toolbar-button m-0'>
        <span class="material-icons m-1">
          other_houses
        </span>
      </button>
      <button title="" class='toolbar-button m-0'>
        <span class="material-icons m-1">
          grid_4x4
        </span>
      </button>
    </div>
    <div class="toolbar edit d-flex p-0 m-1">
      <button title="" class='toolbar-button m-0'>
        <span class="material-icons m-1">
          youtube_searched_for
        </span>
      </button>
      <button title="" class='toolbar-button m-0'>
        <span class="material-icons m-1">
          find_replace
        </span>
      </button>
      <button title="" class='toolbar-button m-0'>
        <span class="material-icons m-1">
          content_paste
        </span>
      </button>
      <button title="" class='toolbar-button m-0'>
        <span class="material-icons m-1">
          content_copy
        </span>
      </button>
      <button title="" class='toolbar-button m-0'>
        <span class="material-icons m-1">
          content_cut
        </span>
      </button>
      <button title="" class='toolbar-button m-0'>
        <span class="material-icons m-1">
          redo
        </span>
      </button>
      <button title="" class='toolbar-button m-0'>
        <span class="material-icons m-1">
          undo
        </span>
      </button>
    </div>
    <div class="toolbar component d-flex p-0 m-1">
      <button title="" class='toolbar-button m-0'>
        <span class="material-icons">
          format_shapes
        </span>
      </button>
      <button title="Tablet" class='toolbar-button m-0'>
        <span class="material-icons m-1">
          bookmark_add
        </span>
      </button>
      <button title="" class='toolbar-button m-0'>
        <span class="material-icons m-1">
          precision_manufacturing
        </span>
      </button>
      <button title="" class='toolbar-button m-0'>
        <span class="material-icons m-1">
          collections_bookmark
        </span>
      </button>
    </div>
    <div class="toolbar miscellaneous d-flex p-0 m-1">
      <button title="" class='toolbar-button m-0'>
        <span class="material-icons m-1">
          travel_explore
        </span>
      </button>
      <button title="" class='toolbar-button m-0'>
        <span class="material-icons m-1">
          calculate
        </span>
      </button>
      <button title="" class='toolbar-button m-0'>
        <span class="material-icons m-1">
          square_foot
        </span>
      </button>
      <button title="" class='toolbar-button m-0'>
        <span class="material-icons">
          attach_money
        </span>
      </button>
    </div>
    <div class="toolbar format d-flex p-0 m-1">
      <button title="" class='toolbar-button m-0'>
        <span class="material-icons m-1">
          highlight
        </span>
      </button>
      <button title="" class='toolbar-button m-0'>
        <span class="material-icons m-1">
          format_color_fill
        </span>
      </button>
      <button title="" class='toolbar-button m-0'>
        <span class="material-icons m-1">
          format_color_reset
        </span>
      </button>
      <button title="" class='toolbar-button m-0'>
        <span class="material-icons m-1">
          format_list_bulleted
        </span>
      </button>
      <button title="" class='toolbar-button m-0'>
        <span class="material-icons m-1">
          format_list_numbered
        </span>
      </button>
      <button title="" class='toolbar-button m-0'>
        <span class="material-icons m-1">
          spellcheck
        </span>
      </button>
    </div>
    <app-text-toolbar (textFormat)="setFormat($event)"></app-text-toolbar>
  </div>
  <div class='background-editor m-0 m-md-5'>
    <div id="editor" class='main-editor' contenteditable="true" spellcheck='false' [innerHTML]='presentText'></div>
  </div>
  <div class="m-5">&nbsp;</div>